<!DOCTYPE HTML>
<html>
<head>
    <title>Hello Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
Список сообщений
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{title}}</span>
        <i>{{text}}</i>
    </div>
{{/messages}}
</body>
</html>
